<h2>Register</h2>

@if (ViewBag.Message != null)
{
    <p style="color:red">@ViewBag.Message</p>
}

<form method="post">
    <label>Username:</label><br />
    <input type="text" name="Username" /><br /><br />

    <label>Password:</label><br />
    <input type="password" name="Password" /><br /><br />

    <button type="submit">Register</button>
</form>

<p>
    <a href="/Account/Login">Back to Login</a>
</p>