@model MobileCarRecoverySystem.Models.RecoveryCase

<h2>Add Recovery Case</h2>

@if (ViewBag.Message != null)
{
    <p style="color:red">@ViewBag.Message</p>
}

<form method="post">
    <label>Case ID:</label><br />
    <input type="number" name="CaseId" /><br /><br />

    <label>Customer Name:</label><br />
    <input type="text" name="CustomerName" /><br /><br />

    <label>Phone Number:</label><br />
    <input type="text" name="PhoneNumber" /><br /><br />

    <label>Vehicle Registration:</label><br />
    <input type="text" name="VehicleRegistration" /><br /><br />

    <label>Vehicle Model:</label><br />
    <input type="text" name="VehicleModel" /><br /><br />

    <label>Breakdown Location:</label><br />
    <input type="text" name="BreakdownLocation" /><br /><br />

    <label>Recovery Status:</label><br />
    <input type="text" name="RecoveryStatus" /><br /><br />

    <button type="submit">Save</button>
</form>

<p><a href="/Recovery/Index">Back to List</a></p>